<%- include("../partials/header") %>

<form action="/games" method="POST">
    <label> Title:
        <input type="text" name="name" required>
    </label>
    <label> Rating:
        <select name ="rating">
            <option value="E">E</option>
            <option value="T">T</option>
            <option value="M">M</option>
        </select>
    </label>
    <label> Release Date:
        <input type="date" name="releaseDate">
    </label>
    <button type="submit">Add Game</button>
</form>

<%- include("../partials/footer") %>